@font-face {
    font-family: '8bitOperatorRegular';
    src: url('../fonts/8bitOperatorPlus8-Regular.ttf');
}
@font-face {
    font-family: '8bitOperatorBold';
    src: url('../fonts/8bitOperatorPlus8-Bold.ttf');
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

audio {
    display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bgCanvas {
    background: #171717;
}

#round {
    display: none;
    pointer-events: none;
}

#menu, #round, #gameover {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#gameover {
    display: none;
    top: 15% !important;
}

#menu > h1, #round > h1, #gameover > h1 {
    font-family: '8bitOperatorBold';
    font-size: 96px;
    color: white;
    cursor: default;
    user-select: none;
}

#gameover > h3 {
    font-family: '8bitOperatorBold';
    font-size: 72px;
    color: white;
    cursor: default;
    user-select: none;
}

#menu > button, #gameover > button {
    width: 320px;
    height: 100px;
    background: transparent;
    color: white;
    border: 3px solid white;
    font-family: '8bitOperatorBold';
    font-size: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#menu > button:hover, #gameover > button:hover {
    background: white;
    color: black;
}

#credits {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#credits p {
    font-family: '8bitOperatorBold';
    font-size: 24px;
    text-align: center;
    color: white;
    cursor: default;
    user-select: none;
}
#credits p a {
    color: white !important;
    text-decoration: none;
}
#credits p a:hover {
    text-decoration: underline;
}

.glitch {
    position: relative;
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-shadow: -5px 1px red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(5px, 9999px, 18px, 0);
  }
  5% {
    clip: rect(54px, 9999px, 76px, 0);
  }
  10% {
    clip: rect(81px, 9999px, 53px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 20px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 57px, 0);
  }
  25% {
    clip: rect(17px, 9999px, 55px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 23px, 0);
  }
  35% {
    clip: rect(57px, 9999px, 74px, 0);
  }
  40% {
    clip: rect(90px, 9999px, 18px, 0);
  }
  45% {
    clip: rect(60px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(58px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(81px, 9999px, 68px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 46px, 0);
  }
  65% {
    clip: rect(33px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 2px, 0);
  }
  75% {
    clip: rect(62px, 9999px, 36px, 0);
  }
  80% {
    clip: rect(17px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(12px, 9999px, 57px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 48px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 43px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 61px, 0);
  }
}