@font-face {
    font-family: '8bitOperatorRegular';
    src: url('../fonts/8bitOperatorPlus8-Regular.ttf');
}
@font-face {
    font-family: '8bitOperatorBold';
    src: url('../fonts/8bitOperatorPlus8-Bold.ttf');
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

audio {
    display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bgCanvas {
    background: #171717;
}

#round {
    display: none;
    pointer-events: none;
}

#menu, #round {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#menu > h1, #round > h1 {
    font-family: '8bitOperatorBold';
    font-size: 96px;
    color: white;
}

#menu > button {
    width: 320px;
    height: 100px;
    background: transparent;
    color: white;
    border: 3px solid white;
    font-family: '8bitOperatorBold';
    font-size: 36px;
    text-align: center;
    cursor: pointer;
}
#menu > button:hover {
    background: white;
    color: black;
}